img 
{
    max-width:400px;
}
p {
    color:darkslategrey;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}
.footballbody
{
    background-color: lightgreen;
}
.basketballlbody {
    background-color: darksalmon;
}